<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a9dc7515-7692-4316-9ad4-762f383eec10/resourceGroups/app-rg/providers/Microsoft.ContainerRegistry/registries/myacrtest0122</ResourceId>
    <ResourceName>myacrtest0122</ResourceName>
    <ResourceGroup>app-rg</ResourceGroup>
    <Subscription>Bu.Lu (bulu)</Subscription>
    <RegistryUrl>https://myacrtest0122.azurecr.cn</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>53959e6e-7440-4b1e-b3c5-2631351ec217</ProjectGuid>
  </PropertyGroup>
</Project>